<div>
  <nz-divider nzText="Personal Information" nzOrientation="left"></nz-divider>
  <div nz-row class="pl-3 pr-3">
    <div nz-col nzSpan="12">
      <div>
        <label>Address:</label>
        <p><i nz-icon [nzType]="'check'"></i> 166B Tres de Abril St., Labangon, Cebu City, Ph, 6000</p>
      </div>
      <div>
        <label>Email:</label>
        <p><i nz-icon [nzType]="'mail'"></i> rosiejaneenomar@gmail.com</p>
      </div>
      <div>
        <label>Phone:</label>
        <p><i nz-icon [nzType]="'phone'"></i> +63-933-549-8056</p>
      </div>
      <div>
          <label>Phone:</label>
          <p><i nz-icon [nzType]="'skype'"></i> rosie.jane.enomar</p>
        </div>
    </div>
    <div nz-col nzSpan="12">
      <div>
        <label>Nationality:</label>
        <p><i nz-icon [nzType]="'check'"></i> Filipino</p>
      </div>
      <div>
        <label>Marital Status:</label>
        <p><i nz-icon [nzType]="'check'"></i> Single</p>
      </div>
    </div>
  </div>
</div>